@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>¿Quienes somos?</h1>
<p>Somos una de la mas renombradas empresas de repuestos y accesorios para motos en el el peru </p>

<h1>Vision</h1>

<p>Consolidarse entre los primeros productores y distribuidores a nivel nacional, de repuestos exclusivos para motos, con una red de distribución terrestre para todo el país.</p>
<br>
<h1>Mision</h1>
<p>Distribuimos repuestos de motos únicos con sello de calidad.</p>
