html {
  font-size: 12px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.textP {
  font-family: sans-serif;
  text-decoration: none; 
  color: #031E49; 
  font-size: 25px;
}
.textP1 {
  font-family: sans-serif;
  text-decoration: none; 
  color: #81C4FF; 
  font-size: 25px;
}
.card-img-top {
  width: 100px;
  height: 200px;
}